@import '~Root/styles/colors';

:local(.nav) {
  padding: 36px 0 8px 0!important;

  .navbar-nav {
    margin-left: 112px;
  }

  .navbar-nav > li a, .navbar-nav > li button {
    padding-right: 22px !important;
    padding-left: 22px !important;
    font-size: 14px;
    font-weight: normal;
    color: @secondary-grey;
  }

  .is-active {
    color: @black !important;
    font-weight: 500 !important;
  }
}

:local(.list) {
  padding-left: 0;

  li {
    list-style: none;
    display: flex;
  }

  li a {
    text-decoration: none !important;
    font-size: 12px;
    color: @steel;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
  }

  img {
    margin-right: 9px;
  }

  :local(.soon) {
    font-size: 10px;
  }
}

:local(.burger-menu) {
  .button_container {
    position: absolute;
    top: 48px;
    height: 27px;
    right: 0;
    width: 35px;
    cursor: pointer;
    z-index: 110;
    transition: opacity .25s ease;
  }

  .button_container:hover {
    opacity: .7;
  }

  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }

  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }

  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }

  .button_container span {
    background: @clear-blue;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .button_container span:nth-of-type(2) {
    top: 11px;
  }

  .button_container span:nth-of-type(3) {
    top: 22px;
  }

  .overlay {
    position: fixed;
    background: @black;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
    height: 80%;
    z-index: 100;
    padding-top: 60px;
  }

  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }

  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }

  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }

  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  }

  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    text-align: center;
  }

  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

  .overlay ul li {
    display: block;
    min-height: 50px;
    position: relative;
    opacity: 0;
  }

  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 23px;
  }

  .overlay ul li a:hover {
    color: @clear-blue;
    transition: .4s ease-in-out;
  }

  .overlay ul li a.not-allowed-cursor:hover {
    color: white;
  }

  //.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  //  width: 100%;
  //}

  //.overlay ul li a:after {
  //  content: '';
  //  position: absolute;
  //  bottom: 0;
  //  left: 50%;
  //  width: 0%;
  //  transform: translateX(-50%);
  //  height: 3px;
  //  background: #FFF;
  //  transition: .35s;
  //}

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
