@import '~Root/styles/colors';
@import '~Root/styles/vars';


:local(.card-body) {
  padding: 48px 50px;
  font-family: 'Poppins' !important;
  @media (max-width: @sm) {
    padding: 48px 20px;
  }
}

:local(.title) {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.04;
  color: @black;
  margin-top: 28px;
}

:local(.list) {
  padding-left: 0;
  margin-top: 32px;
  margin-right: 0;
  margin-left: 0;

  li {
    list-style: none;
    border-bottom: 1px solid @light-grey;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: 'Poppins' !important;
  }

  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  a {
    color: @clear-blue !important;
    font-family: 'Poppins' !important;
  }

  a:hover {
    color: @black !important;
  }
}

:local(.subject) {
  font-size: 16px;
  line-height: 1.38;
  color: @steel;
  margin: 0 !important;
  font-family: 'Poppins' !important;

}

:local(.explain) {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  text-align: right;
  color: @black;
  margin: 0 !important;
  font-family: 'Poppins' !important;

}

:local(.seprator) {
  color: @dark-cream;
}

:local(.currency) {
  color: @dark-navy;
}

