@import '~Root/styles/colors';
@import '~Root/styles/vars';



:local(.card-body) {
  padding: 72px 36px;

  @media (max-width: @sm) {
    padding: 48px 20px;
  }
}

:local(.title) {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.04;
  color: @black;
  margin-top: 28px;
  margin-bottom: 0;
  font-family: 'Poppins' !important;
}

:local(.explain) {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: @steel;
  margin-bottom: 0;
  margin-top: 12px;
  font-family: 'Poppins' !important;
}
