@import '~Root/styles/colors';
@import '~Root/styles/vars';

:local(.body) {
  background-color: @pale-purple-grey;
  min-height: 100vh;
  height: 100%;

  @media (max-width: 1400px) {
    height: auto;
  }
}

:local(.card-header) {
  background-color: @grey-cream;
  padding: 10px 40px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  @media (max-width: @xl) {
    padding: 10px 20px;
  }
}

:local(.card-body) {
  padding: 36px 70px;

  @media (max-width: @xl) {
    padding: 36px 70px;
  }
}

:local(.title) {
  font-size: 18px;
  line-height: 1.39;
  color: @black;
  margin-bottom: 36px;
  text-align: center;
  font-weight: normal;
  font-family: 'Poppins' !important;

  span {
    color: @clear-blue;
  }
}

:local(.small-card) {
  border-radius: 6px;
  border: solid 1.5px @cream;
  background-color: white;
  font-family: 'Poppins' !important;

  canvas {
    margin-top: 37px;
    margin-bottom: 37px;
  }
}

:local(.small-card-footer) {
  background-color: @grey-cream;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 10px 16px;
}

:local(.address) {
  font-size: 14px;
  font-weight: 500;
  color: @clear-blue;
  margin-bottom: 0;
  font-family: 'Poppins' !important;
}

:local(.explain) {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: @steel;
  margin-top: 38px;
  font-family: 'Poppins' !important;
}

