@import '~Root/styles/colors';

:local(.box) {
  margin-top: 7px;
}

:local(.circle) {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

:local(.count) {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  float: right;
  margin-top: 3px;
}
