@import "~bootstrap/dist/css/bootstrap.css";
@import "./fonts";
@import "./colors";
@import "./fontSize";
@import "./vars";

html, body, #root {
  height: 100%;
  font-family: 'Poppins';
}

.content-box {
  padding-right: 194px;
  padding-left: 194px;

  @media (max-width: 1400px) {
    padding-right: 140px;
    padding-left: 140px;
  }

  @media (max-width: @xl) {
    padding-right: 100px;
    padding-left: 100px;
  }

  @media (max-width: @lg) {
    padding-right: 80px;
    padding-left: 80px;
  }

  @media (max-width: @md) {
    padding-right: 70px;
    padding-left: 70px;
  }

  @media (max-width: @sm) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: @x-sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.card {
  border-radius: 12px;
  box-shadow: none !important;
  background-color: white;
  border: solid 1px #f2f3f5 !important;
}

.center-content-col {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.center-ver {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-ver-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:focus {
  box-shadow: none;
}

.popover-inner {
  padding: 2px 11px;
  font-size: 12px;
  background-color: white;
  border: 1px solid @grey-cream;
  color: @black;
  border-radius: 5px;
}

.page-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 0.94;
  color: @black;
}

.video-style {
  .video-player-box {
    border-radius: 4px;
    overflow: hidden;
  }

  .video-react .video-react-big-play-button {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: @clear-blue;
    border: none;
  }

  .video-react .video-react-big-play-button:hover {
    background-color: @clear-blue;
    border-color: @clear-blue;
  }

  .video-react .video-react-big-play-button::before {
    content: '\e908';
    font-family: 'icomoon' !important;
    font-size: 17px;
    margin-top: 2px !important;
    margin-left: 2px !important;
  }

  .video-react-play-control.video-react-control.video-react-button.video-react-playing,
  .video-react-play-control.video-react-control.video-react-button.video-react-paused {
    margin-top: -5px !important;
  }
}

.space-from-footer {
  padding-bottom: 200px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-primary-styled {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: @clear-blue;
  border: 1px solid @clear-blue;
  padding: 10px 23px;
}

.btn-primary-styled:hover {
  color: white;
}


.popover-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin-top: 20px;
  left: 210px;
  transform: translate(0, 10px);
  width: auto;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.09);
  background-color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid @ice-blue;
}

.popover-arrow {
  position: absolute;
  top: -8px;
  right: calc(50% - 10px);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  width: 0;
  height: 0;

  -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.09));
}

.popover-wrapper:hover .popover-content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.not-allowed-cursor {
  cursor: not-allowed !important;
}

