@pale-purple-grey: #f1f2f6;
@grey-cream: #f7f7f7;
@black: #2f2f2f;
@clear-blue: #377cf2;
@cream: #f2f2f2;
@steel: #7a8697;
@light-grey: #eaedf0;
@dark-navy: #44566c;
@dark-cream: #e2e2e2;
@pale-purple: #fafbfd;
@purple-grey: #c8ced8;
@pale-grey: #f7f8fa;
@ice-blue: #f2f5f7;
@gray: #cfd4dd;
@secondary-grey: #c3c4c6;
@seacondary-purple-grey: #e7eaf0;

