/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light'), local('Poppins-Light'),
  url('../assets/fonts/Poppins/poppins-v9-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-300italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-300italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url('../assets/fonts/Poppins/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Italic'), local('Poppins-Italic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium'), local('Poppins-Medium'),
  url('../assets/fonts/Poppins/poppins-v9-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-500italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-500italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
  url('../assets/fonts/Poppins/poppins-v9-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-600italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-600italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold'), local('Poppins-Bold'),
  url('../assets/fonts/Poppins/poppins-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-700italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
  url('../assets/fonts/Poppins/poppins-v9-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-800italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-800italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
  url('../assets/fonts/Poppins/poppins-v9-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-900italic.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-900italic.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Poppins/poppins-v9-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Poppins Black'), local('Poppins-Black'),
  url('../assets/fonts/Poppins/poppins-v9-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Poppins/poppins-v9-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-900.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/Poppins/poppins-v9-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Poppins/poppins-v9-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/Icomoon/icomoon.eot?tiykv8');
  src:  url('../assets/fonts/Icomoon/icomoon.eot?tiykv8#iefix') format('embedded-opentype'),
  url('../assets/fonts/Icomoon/icomoon.ttf?tiykv8') format('truetype'),
  url('../assets/fonts/Icomoon/icomoon.woff?tiykv8') format('woff'),
  url('../assets/fonts/Icomoon/icomoon.svg?tiykv8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-video:before {
  content: "\e908";
}
.icon-angle-down:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-group:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-check-circle:before {
  content: "\e907";
}
