@import '~Root/styles/colors';


:local(.footer) {
  background-color: @pale-purple;
  padding-top: 12px;
  padding-bottom: 12px;
}

:local(.copy-right) {
  font-size: 14px;
  line-height: 1.79;
  color: @purple-grey;
  margin-bottom: 0;
  padding-top: 2px;
}

:local(.icon), :local(.icon):hover {
  text-decoration: none;
  color: @purple-grey;
}
